In [31]:
import numpy as np
import pandas as pd

In [51]:
lista = [52876, 32896, 34457, 51046, 38186, 35202 ,45310, 45654, 37864 ,39305, 46738, 40438, 46499, 38537, 33448, 37117, 33096, 39120, 42177]
classe1 = []
classe2 = []
classe3 = []
classe4 = []
classe5 = []

In [57]:
for i in lista:
    if 30000<=i<35000:
        classe1.append(i)
    elif 35000<=i<40000:
        classe2.append(i)
    elif 45000<=i<50000:
        classe3.append(i)
    elif 60000<=i<65000:
        classe4.append(i)
    else:
        classe5.append(i)

In [58]:
def calc_ocorrencias(classe):
    return (int(len(classe)))

In [59]:
classes = [classe1,classe2,classe3,classe4,classe5]
freq_relativa = []
porcentagem = []
for i in classes:
    freq_relativa.append(round(calc_ocorrencias(i)/calc_ocorrencias(lista),2))
    porcentagem.append(round(calc_ocorrencias(i)/calc_ocorrencias(lista)*100, 2))

In [66]:
dados = np.array([['classe 1',calc_ocorrencias(classe1), porcentagem[0], freq_relativa[0]],
                  ['classe 2',calc_ocorrencias(classe2), porcentagem[1], freq_relativa[1]],
                  ['classe 3',calc_ocorrencias(classe3), porcentagem[2], freq_relativa[2]],
                  ['classe 4',calc_ocorrencias(classe4), porcentagem[3], freq_relativa[3]],
                  ['classe 5',calc_ocorrencias(classe5), porcentagem[4], freq_relativa[4]]])

In [67]:
df = pd.DataFrame(dados, columns = ['classes', 'ocorrencias', 'porcentagem', 'freq_relativa'])

In [68]:
df

    classes ocorrencias porcentagem freq_relativa
0  classe 1           4       21.05          0.21
1  classe 2           7       36.84          0.37
2  classe 3           4       21.05          0.21
3  classe 4           0         0.0           0.0
4  classe 5           4       21.05          0.21